<div class="app-pagination" [ngStyle]="{width:(30*(_totalPage)+'px')}">
  <md-grid-list [cols]="_totalPage" rowHeight="28px" gutterSize="0px">
    <md-grid-tile class="app-container-item" (click)=onSelectPage(number-1)>
      &laquo;
    </md-grid-tile>
    <md-grid-tile *ngFor="let item of _pages;let idx=index" class="app-container-item" (click)=onSelectPage(item)
                  [ngClass]="{'app-container-current-item': (idx === number)}">
      {{item + 1}}
    </md-grid-tile>
    <md-grid-tile class="app-container-item" (click)=onSelectPage(number+1)>
      &raquo;
    </md-grid-tile>
  </md-grid-list>
</div>
