.example-card {  width: 99%;height: 99%;  background-color: transparent;padding: 0}
.schedule-container{ margin: 0 5%;min-height: 1200px;padding: 40px 0 0 0;}
.schedule-list{background-color: #FFFFFF}
.mat-list-icon {color: rgba(0, 0, 0, 0.54);  }
.schedule-header{background-color: rgba(0, 0, 0, 0.2);}
