<div class="schedule-container">
  <md-grid-list cols="7" rowHeight="50px" gutterSize="5">
    <md-grid-tile
      *ngFor="let t of title"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'lightblue'">
      <h3>周{{t}}</h3>
    </md-grid-tile>
  </md-grid-list>
  <md-grid-list cols="7" rowHeight="1:1" gutterSize="5">
    <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">

      <md-card class="example-card">
        <md-card-header>
          <md-card-title>{{tile.text}}</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>{{tile.text}}</p>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>

