<div class="mat-dialog-container repository-update-container">
  <div class="mat-dialog-title repository-update-title">
    <h3>Repository</h3>
  </div>
  <div class="repository-update-content">
    <div class="repository-update-form">
      <input hidden [(ngModel)]="repository.id" >
      <md-list>
        <md-list-item>
          <md-input-container class="repository-update-input">
            <input mdInput placeholder="Name" [(ngModel)]="repository.name">
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <md-input-container class="repository-update-input">
            <input mdInput placeholder="Url"  [(ngModel)]="repository.url">
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <md-input-container class="repository-update-input">
            <input mdInput placeholder="UrlType"  [(ngModel)]="repository.urlType">
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <md-input-container class="repository-update-input">
            <input mdInput placeholder="Description"  [(ngModel)]="repository.description">
          </md-input-container>
        </md-list-item>
      </md-list>
    </div>
    <div class="repository-update-operator">
      <button md-button (click)="confirm(true)" class="mat-primary">Accept</button>
      <button md-button (click)="confirm(false)" class="mat-button">Cancel</button>
    </div>
  </div>
</div>
