<div class="app-banner">
  <div class="app-banner-user-content">
    <button md-button (click)="login()">Login Here</button>
  </div>
  <div class="app-container app-center">
    <h2>Daily</h2>
    <h5>功能菜单</h5>
  </div>
</div>
<div class="app-banner-logo">
  <a><img src="../../assets/imgs/banner-icon.png"></a>
</div>
<div class="app-container">
  <md-grid-list cols="2" rowHeight="7:5" gutterSize="15" class="app-card-list">
    <md-grid-tile>
      <md-card class="example-card" (click)="cardOnClick('schedule')">
        <img md-card-image class="app-index-img" src="../../assets/imgs/card3.png">
        <md-card-content>
          <a>日程管理</a>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
  <!--<app-pagination [total]="pageInfo.total" [size]="pageInfo.pageSize" [number]="pageInfo.pageNumber" (onSelect)="cardPageSelect($event)"></app-pagination>-->
</div>

