<div class="developer-container">
  <md-tab-group>
    <md-tab label="Repository">
      <div class="repository-container">
        <button md-button class="mat-primary mat-raised-button">Create</button>
        <md-input-container class="search">
          <input mdInput placeholder="Keywords" value="">
        </md-input-container>
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Url</th>
            <th>UrlType</th>
            <th>Description</th>
            <th>Operate</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
          </tr>
          </tbody>
        </table>
        <!-- 分页 -->
        <md-paginator [length]="length"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="change($event)">
        </md-paginator>
      </div>
    </md-tab>
    <md-tab label="AssemblyLine">Content 2</md-tab>
  </md-tab-group>
</div>
